.App {
}

.table {
  width: 100%;
  height: 100%;
}

.table td {
  border: 1px solid lightgrey;
  text-align: right;
  padding: 10px;
}

.todoDiv {
  border-style: dotted dashed solid;
  border-color: lightgrey;
  padding: 10px;
}

.selectedCategory {
  background-color: Gray;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
